

/* footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
   
    padding-top: 10px;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
   
} */

footer{
    position:absolute;
    bottom:0;
    width:100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items:center;
    align-content:center;
    text-align: center; 
    background-color: #f2f2f2;
    flex-wrap: wrap ;
  } 

.facebook > a{
     margin-left: 5px;
   /* padding-right: 20px; */
    font-size: 1.1em;
    text-decoration: none;
    color: black;
}

.whatsapp > a{
     margin-left: 5px;
   /* padding-right: 20px; */
    font-size: 1.1em;
    text-decoration: none;
    color: black;
    
}
.email > a{
    margin-left: 5px;
    /* padding-right: 20px; */
    font-size: 1.1em;
    text-decoration: none;
    color: black;
    
}

.facebook, .whatsapp, .email{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 10px;
    /* margin-top: 10px;*/
     margin-bottom: 10px; 
}

 .email > p {
    margin-left: 5px; 
}
.facebook >p{
    margin-left: 5px;
}

.whatsapp >p{
    margin-left: 5px;
}

img {
    width:30px;
}

 @media screen and (max-width:1024px) {
    footer{
        /* flex-wrap: wrap; */
        position: fixed;
    }
    
}

  @media screen and (max-width:480px){
    footer{
        
        
        justify-content: center;
        align-items: center;
    
    }

  } 