* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    /* font-family: "Poppins", sans-serif; */
    min-height: 100vh;
    background: linear-gradient(to right top, #2b6777, #c8d8e4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}
  

.glass {
    background: white;
    min-height: 65vh;
    width: 55%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 88;
    backdrop-filter: blur(2rem);
    /* display: flex; */
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    background: radial-gradient(circle at 50% 55%, rgba(240,245,255,0.9), rgba(240,245,255,0.9)40%, rgba(225,238,255,0.8)60%, rgba(43,130,255,0.4));
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
    opacity:0.6;
}.circle1{
    top: 10%;
    right:18%;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.circle2{
    bottom: 2%;
    left:15%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    opacity: 0.7;
}

.circle3{
    bottom: 14%;
    left:10%;
    height: 10rem;
    width: 10rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.circle4{
    bottom: 25%;
    left:16%;
    height: 5rem;
    width: 5rem;
    opacity: 0.8;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.circle5{
    top: 5%;
    right:16%;
    height: 8rem;
    width: 8rem;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
    opacity: 1;
}

.circle6{ 
    top: 15%;
    right:16%;
    height: 5rem;
    width: 5rem;
    opacity: 0.8;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* opacity: 1; */
    z-index: 4;
}

@media screen and (max-width:1024px) {
    .glass{
        padding: 20px;
    }
    
}

@media screen and (max-width:768px) {
    .circle1, .circle2, .circle3, .circle4, .circle5, .circle6{
        visibility: hidden;
    }
    .glass{
        padding: 20px;
    }

}
