*{
  box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(110deg, #c8d8e4 60%, #ffffff 60%);
 }

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
   
}

 .glass {
  background: rgba(109,	183,	132);
  min-height: 65vh;
  /* width: 30%; */
  padding-top: 50px;
  border-radius: 0.5rem;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
} 

h1{
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 3%;
  margin-top: 4%;
  display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 800;
    letter-spacing: -2px;
}

label, .submit, .status {
  font-weight: 600;
  font-size: 2.5vh;
  color: black;
}



.submit{color:black}

input, textarea, .submit {
  /* background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3)); */
  background: white;
  border: none;
  /* width: 50vh; */
  width: 50vh;
  height: 3vh;
  border-radius: 5px;
  margin-bottom: 6%;
}

textarea {
  height: 30vh;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 20vh;
  height: 4vh;
  background:white ;
  /* background:rgba(#c8d8e4) ; */
  margin-bottom:4%;
  margin-top:4%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input, textarea{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.status{
  margin: 0 auto;
}

.contactform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
}


label, input, textarea{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width:1024px) {
  label, input, textarea{
      width: 30vh;
  }
  h1{
    font-size: 3vh;
  }
  .glass{
      padding: 20px;
  }
  
}

@media screen and (max-width:768px) {
  label, input, textarea{
      width: 20vh;
  }

  label{
    text-align: center;
  }
  h1{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 50px;
    font-size: 3vh;
    letter-spacing: normal;
    text-align: center;
  }
  /* .glass{
      padding: 20px;
  } */

}